<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NATURALFOOD</title>
    <link rel="stylesheet" href="/CSS/style.css"> <!--Enlace a estilo de la web-->
    <link rel="stylesheet" href="/CSS/lightbox.css"> <!--Enlace a lightbox (herramienta externa)-->
    <link rel="icon" href="../assets/favicon.png">  <!--Enlace a icono de la web-->
</head>
<body>
    <header>
        <h1>NATURALFOOD</h1>
        <!--Menú de la web y enlaces-->
        <nav>
          <ul class="menu">
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="galería.html" class="active">Galería</a></li>
            <li><a href="presupuesto.html">Presupuesto</a></li>
            <li><a href="contacto.html">Contacto</a></li>
          </ul>
        </nav>
        <!--Enlaces a imágenes del menú-->
        <div id="logos-principal">
          <div class="logos">
            <img src="../assets/vino.png" alt="" class="logo">
            <img src="../assets/burguer.png" alt="" class="logo">
            <img src="../assets/pasta.png" alt="" class="logo">
            <img src="../assets/taza.png" alt="" class="logo">
            <img src="../assets/pastel.png" alt="" class="logo">
          </div>
        </div>
    </header>
    <main>
      <!--Enlaces de imágenes de Galería-->
        <div class="container">

          <div class="galeria">
            
            <a href="/assets/1.jpg" data-lightbox="models" data-title=" imagen1">
              <img src="/assets/1.jpg" alt="">
            </a>
            <a href="/assets/2.jpg" data-lightbox="models" data-title=" imagen2">
              <img src="/assets/2.jpg" alt="">
            </a>
            <a href="/assets/3.jpg" data-lightbox="models" data-title=" imagen3">
              <img src="/assets/3.jpg" alt="">
            </a>
            <a href="/assets/4.jpg" data-lightbox="models" data-title=" imagen4">
              <img src="/assets/4.jpg" alt="">
            </a>
            <a href="/assets/5.jpg" data-lightbox="models" data-title=" imagen5">
              <img src="/assets/5.jpg" alt="">
            </a>
            <a href="/assets/6.jpg" data-lightbox="models" data-title=" imagen6">
              <img src="/assets/6.jpg" alt="">
            </a>
            <a href="/assets/7.jpg" data-lightbox="models" data-title=" imagen7">
              <img src="/assets/7.jpg" alt="">
            </a>
            <a href="/assets/8.jpg" data-lightbox="models" data-title=" imagen8">
              <img src="/assets/8.jpg" alt="">
            </a>
            <a href="/assets/9.jpg" data-lightbox="models" data-title="imagen9">
              <img src="/assets/9.jpg" alt="">
            </a>
            <a href="/assets/10.jpg" data-lightbox="models" data-title="imagen10">
              <img src="/assets/10.jpg" alt="">
            </a>
            <a href="/assets/11.jpg" data-lightbox="models" data-title="imagen11">
              <img src="/assets/11.jpg" alt="">
            </a>
            <a href="/assets/12.jpg" data-lightbox="models" data-title="imagen12">
              <img src="/assets/12.jpg" alt="">
            </a>
          </div>
        </div>
      </main>
      <footer>
        <div class="container">
          <div class="copyright">
            <p>&copy; NATURALFOOD!2024</p>
          </div>
          <!--ENLACES A REDES SOCIALES-->
          <div class="social-media">
            <a href="https://www.instagram.com/" target="_blank">
              <img
                src="../assets/instagram.svg"
                width="40"
                height="40"
                alt="instagram"
            ></a>
            <a
              href="https://www.facebook.com/login/?locale=es_ES"
              target="_blank"
            >
              <img
                src="../assets/facebook.svg"
                width="40"
                height="40"
                alt="facebook"
            ></a>
            <a href="https://twitter.com/i/flow/login" target="_blank">
              <img
                src="../assets/twitter.svg"
                width="40"
                height="40"
                alt="twitter"
            ></a>
          </div>
          <!--AVISO LEGAL-->
          <div class="aviso-legal">
            <p><strong> Aviso Legal </strong></p>
            <p>
              En cumplimiento con el deber de información recogido en el artículo
              10 de la Ley 34/2002, de 11 de julio, de Servicios de la Sociedad de
              la Información y del Comercio Electrónico, se informa a los usuarios
              del presente sitio web que la titularidad es de la web NATURALFOOD!
            </p>
          </div>
        </div>
      </footer>
      <!--Enlace a javaScript-->
      <script src="/JS/lightbox-plus-jquery.min.js"></script>

</body>
</html>